<?xml version="1.0" encoding="ISO-8859-1"?>


<web-app>
	
   <servlet>
    <servlet-name>Proxy</servlet-name>
    <servlet-class>org.semanticweb.fbench.proxy.MyAsyncProxyServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Proxy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
	
	
</web-app>
